---

---

<div class="w-[352px] border-[#2A2533] border rounded-2xl">
    <img src="image.png" draggable="false" class="rounded-t-2xl select-none" width="350" alt="">
    <div class="bg-[#0B090D] rounded-b-2xl w-[350px] grid grid-cols-10 p-3">
        <div class="col-span-2">
            <div class="rounded-full w-12 h-12">
                <img src="/Avatar.svg" class="size-12 border-2 border-[#2A2533] rounded-full select-none" draggable="false" alt="">
            </div>
        </div>
        <div class="col-span-8 flex justify-between">
            <div class="flex flex-col">
                <span class="text-[11px] text-[#625873] italic">Ownedy by</span>
                <span class="text-lg text-white font-semibold">Hacker</span>
            </div>
            <div class="flex flex-col justify-end">
                <span class="text-xs text-[#4BCE97] italic">2.432,21$</span>
                <span class="text-lg text-white font-semibold">1.2 ETH</span>
            </div>
        </div>
    </div>
</div>