---
import Instagram from '../icons/Instagram.astro';
import Twitter from '../icons/Twitter.astro';
import Linkedin from '../icons/Linkedin.astro';

---

---


<footer class="bg-[#0A0A0A] pt-20 md:pt-40">
    
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-14">
              <a href="https://flowbite.com/" class="flex items-center">
                  <img src="/crypto-icon.svg" class="h-10 me-3" alt="Crypto® Logo" />
                  <span class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white">Crypto<span class="font-medium">®</span></span>
              </a>
              <div class="w-80">
              <p class="mt-8 text-[13px] text-[#625873]">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="flex justify-start mt-8 gap-x-5">
                    <Twitter/>
                    <Instagram/>
                    <Linkedin/>
                </div>
              </div>
          </div>

          <div class="grid grid-cols-2 gap-8 sm:gap-32 sm:grid-cols-2">
              <div>
                  <h2 class="mb-6 text-xl font-semibold text-white">Crypto®</h2>
                  <ul class="text-[#625873] font-medium">
                      <li class="mb-2">
                          <a href="#" class="hover:underline">Download</a>
                      </li>
                      <li class="mb-2">
                          <a href="#" class="hover:underline">NFTs</a>
                      </li>
                      <li class="mb-2">
                        <a href="#" class="hover:underline">Rank</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="hover:underline">Newsletter</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="hover:underline">FAQ</a>
                    </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-xl font-semibold text-white">Important</h2>
                  <ul class="text-[#625873] font-medium">
                      <li class="mb-2">
                          <a href="https://github.com/themesberg/flowbite" class="hover:underline ">About us</a>
                      </li>
                      <li class="mb-2">
                          <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Questions</a>
                      </li>
                      <li class="mb-2">
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Press</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Contact us</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Legal</a>
                    </li>
                  </ul>
              </div>
              
          </div>
      </div>
      
    </div>
</footer>
