---

---

<nav class="bg-transparent p-4 ">
    <div class='w-9/12 mx-auto'>
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-x-3">
        <img src="/crypto-icon.svg" alt="">
        <span class="text-white font-semibold text-lg">Crypto<span class="font-light">®</span></span>
      </div>
      <div class="gap-x-7 sm:flex hidden">
        <a href="#" class="text-white">Download</a>
        <a href="#" class="text-white">Newsletter</a>
        <a href="#" class="text-white">FAQ</a>
      </div>
    </div>
    </div>
  </nav>

<style>

</style>