---

---

<div class="relative mt-20">
    <div class="flex justify-center items-center  w-full h-[770px] overflow-hidden relative"
        style="background-image: url('/ondas.svg'); background-size: cover; background-position: center;">

        <!-- Avatares -->
        <div class="absolute hidden top-0 left-0 w-full h-full md:flex justify-center items-center pointer-events-none z-0">
            <div class="absolute top-72 left-32 size-24 flex justify-center items-center rounded-full border-[3px] border-[#DD00C6]">
                <img src="/avatars/Avatar2.svg" class="size-24" alt="">
            </div>
            <div class="absolute top-2/3 right-52 size-24 flex justify-center items-center rounded-full border-[3px] border-[#FF6CFF]">
                <img src="/avatars/Avatar5.svg" class="size-24 rotate-[20deg]" alt="">
            </div>
            <div class="absolute top-3/4 left-80 size-10 flex justify-center items-center rounded-full border-[3px] border-[#1F1B26]">
                <img src="/avatars/Avatar6.svg" class="size-10 rotate-6" alt="">
            </div>
            <div class="absolute top-[5rem] right-96 size-24 flex justify-center items-center rounded-full border-[3px] border-white/30">
                <img src="/avatars/Avatar.svg" class="size-24 rotate-[20deg]" alt="">
            </div>
            <div class="absolute top-52 right-32 size-20 flex justify-center items-center rounded-full border-[3px] border-[#5EEBFF]">
                <img src="/avatars/Avatar3.svg" class="size-20 rotate-[25deg]" alt="">
            </div>
            <div class="absolute top-2/3 left-2 size-24 flex justify-center items-center rounded-full border-[3px] border-[#5EEBFF]">
                <img src="/avatars/Avatar4.svg" class="size-24 " alt="">
            </div>
        </div>

        <!-- Contenido del Newsletter -->
        <div class="md:px-80 px-20 flex flex-col items-center gap-y-5 z-10 relative">
            <h1 class="text-white text-center font-bold text-3xl md:text-5xl">Suscribe to Our Newsletter</h1>
            <p class="text-white text-[15px] font-thin">You can subscribe to stay up to date with all the news.</p>
            <div class="flex justify-between mt-5 items-center rounded-full px-1.5 py-1.5 border-2 bg-[#0A0A0A] border-[#18151D]">
                <div class="border-none">
                    <input type="text" placeholder="Type your email" class="px-4 border-none focus:outline-none bg-[#0A0A0A] placeholder:text-[#858486] text-[#858486] placeholder:text-sm placeholder:bg-[#0A0A0A]">
                </div>
                <div>
                    <button class="bg-[#352E40] hover:bg-[#7F35FF] duration-500 font-bold text-white rounded-full py-1.5 px-4 text-[14px]">Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Efecto de sombra -->
    <div class="absolute inset-0 z-0" style="box-shadow: inset 0 0 132px 70px rgba(10,10,10,1);"></div>
</div>




<style>
    
</style>