---

---

<div class="relative mt-20">
    <div class="flex justify-center items-center pt-20 overflow-hidden relative"
        style="box-shadow: inset 0px 0px 150px 50px rgba(10, 10, 10, 1);background-image: url('/ondas.svg'); background-size: cover; background-position: center;">

        <!-- Avatares -->
 

        <!-- Contenido del Newsletter -->
        <div class="md:px-80 px-20 flex flex-col items-center gap-y-5 z-10 relative">
            <h1 class="text-white text-center font-bold text-3xl md:text-5xl">Suscribe to Our Newsletter</h1>
            <p class="text-white text-center text-[15px] font-thin">You can subscribe to stay up to date with all the news.</p>
            <div class="flex justify-between mt-5 items-center rounded-full px-1.5 py-1.5 border-2 bg-[#0A0A0A] border-[#18151D]">
                <div class="border-none">
                    <input type="text" placeholder="Type your email" class="px-4 border-none focus:outline-none bg-[#0A0A0A] placeholder:text-[#858486] text-[#858486] placeholder:text-sm placeholder:bg-[#0A0A0A]">
                </div>
                <div>
                    <button class="bg-[#352E40] hover:bg-[#7F35FF] duration-500 font-bold text-white rounded-full py-1.5 px-4 text-[14px]">Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Efecto de sombra -->
</div>




<style>
    
</style>