---
interface Props {
	title: string;
}
import '@fontsource/poppins';
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_50%_80%_at_50%_-20%,rgba(81,35,160,1),rgba(255,255,255,0))]"></div>
		<Header/>
		<div
			class="mx-auto max-w-[90rem] px-2 pt-16 
			selection:bg-primary selection:text-secondary md:pt-20 lg:px-10"
			id="main-content"
		>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html{
		font-family: 'Poppins', sans-serif;
		background-color: black;
	}
</style>
